.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 430px) {
  .container {
    max-width: 398px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1170px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
}

.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  width: 100%;
}

.box {
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

section {
  margin-bottom: 6rem;
}
