html {
  font-family: sans-serif;
  line-height: 1.15;
}



.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    font-size: 1.25rem;
    line-height: inherit;
  }

  .navbar-logo {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }

  .navbar-nav {

    display: flex;

    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .nav-item {
    text-decoration: none;
    margin-bottom: -1px;
    color: #fff;
    flex: 1 1 auto;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
  }

  .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-light {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
  }





.bg-gray-100 {
    background-color: rgb(243 244 246);
  }

  .bg-gray-200 {
    background-color: rgb(209 213 219);
  }

  .bg-gray-700 {
    background-color: rgb(55 65 81);
  }



button {
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0.2rem;
    background-color: rgba(71, 83, 103, 1);
    color: white;
    padding: 18px;
  }

  .btn-contact {
    text-align: center;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
  }

  .button__contact {
    border-radius: 8px;
    background-color: rgba(71, 83, 103, 1);
    color: white;
    padding: 18px;
  }

  .font-medium {
    font-weight: 500;
  }


  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F2F4F7;
    background-clip: border-box;
    border-radius: 0.25rem;
    width: 20rem;
  }

  .card-img {
    padding: 1.25rem;
  }
  

  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  
  .card-title {
    margin-bottom: 0.75rem;
  }
  
  .card-subtitle {
    margin-top: -1rem;
    margin-bottom: 0;
    color: #CE9334;
  }

  .card-text:last-child {
    margin-bottom: 0;
  }


  .shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }